<%- include('partials/header') %>
<div class="jumbotron container text-center bg-white mt-5">

    <% if(current.github){ %>
      
  <h1 class="topic" style="margin-top: 50px;">
      <span class="letter">Da</span>shboard
  </h1>
  <p>
    Hey there, Stagiaire !!! Welcome back, seems like you've already had your appetizer!! Hope you enjoyed it.
  <br>
    If you're wondering whether you’ll be able to taste our entrée hold tight, we’ll be contacting you very soon regarding your selection through the first phase. Please keep a check on your emails. 
  </p>
    <% } else{ %>
  <h1 class="topic" style="margin-top: 50px;">
    <span class="letter">Ap</span>plication
  </h1>
  <p>
    A recipe has no soul.You as the cook must bring soul to the recipe. By the same token, a code is lifeless without a tweak of ingenious element in it. Go trust your instincts, Fill out the form to unveil your creative edge and show us what you've got!!
  </p>
    <% } %>
 
  
</div>

<% if(github) { %>

  <p class="text-center"style="font-size: 24px; color:#d85f42">
    Your Application
  </p>

  <table class="table container">
    <tbody>
      <tr>
        <th scope="row">Name</th>
        <td><%= current.firstname %> <%= current.lastname %></td>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td><%= current.username %></td>
      </tr>
      <tr>
        <th scope="row">Year</th>
        <td><%= current.year %></td>
      </tr>
      <tr>
        <th scope="row">Branch</th>
        <td><%= current.branch %></td>
      </tr>
      <tr>
        <th scope="row">Domains</th>
        <td>
          <% if(current.technical != "none"){ %>
            <%= current.technical %>
          <% } %>
          <% if(current.corporate != "none"){ %>
            , <%= current.corporate %>
          <% } %>
          <% if(current.creatives != "none"){ %>
            , <%= current.creatives %>
          <% } %>
        </td>
      </tr>
    </tbody>
  </table>

<% } else{ %>

  <section class="container"> 
    <form method="POST" action="/secret">
       
        <div class="form-group col-auto my-1">
            <label for="exampleInputEmail1">Registeration Number:</label>
            <input name="reg" type="text" class="form-control col-auto my-1" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="RAXXXXXXXXXXXXX" required>
  
        </div>
  
  
        <div class="form-group col-auto my-1">
            <label for="exampleInputEmail1">Phone Number:</label>
            <input name="telnum" type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="9876543210" required>
  
        </div>
  
        <!--Sanskriti-->
        <div class="col-auto my-1">
            <label for="inlineFormCustomSelect">Year of study</label>
            <br>
  
            <select name="year" class="custom-select mr-sm-2" id="year" required>
              <option value="none" selected>
                <p>...</p>
            </option>
                <option value="1">First</option>
                <option value="2">Second</option>
            </select>
        </div>
        <div class="col-auto my-1">
            <label for="inlineFormCustomSelect">Branch</label>
            <br>
  
            <select name="branch" class="custom-select mr-sm-2" id="branch" required>
              <option value="none" selected>
                <p>...</p>
            </option>
                <option value="Computer Science and Engineering" id="b1">Computer Science and Engineering</option>
                <option value="Computer Science and Business Systems" id="b2">Computer Science and Business Systems</option>
                <option value="Information Technology" id="b3">Information Technology</option>
                <option value="Electrical and Computer Engineering" id="b4">Electrical and Computer Engineering</option>
                <option value="Electronics and Computer Engineering" id="b5">Electronics and Computer Engineering</option>
                <option value="Electronics and Communication Engineering" id="b6">Electronics and Communication Engineering</option>
                <option value="Electrical and Electronics Engineering" id="b7">Electrical and Electronics Engineering</option>
                <option value="Mechanical Engineering" id="b8">Mechanical Engineering</option>
                <option value="Mechatronics" id="b9">Mechatronics</option>
                <option value="Civil Engineering" id="b10">Civil Engineering</option>
                <option value="Aerospace Engineering" id="b11">Aerospace Engineering</option>
                <option value="Automobile Engineering" id="b12">Automobile Engineering</option>
                <option value="Bioelectronics Engineering" id="b13">Bioelectronics Engineering</option>
                <option value="Biotechnology" id="b14">Biotechnology</option>
                <option value="Biomedical Engineering" id="b15">Biomedical Engineering</option>
                <option value="Chemical Engineering" id="b16">Chemical Engineering</option>
                <option value="Nanotechnology" id="b17">Nanotechnology</option>
  
  
            </select>
        </div>
   
  
        <div class="col-auto my-1" aria-required="true">
            <label for="inlineFormCustomSelect">Choose the domain of which you want to become a part</label>
            <small for="inlineFormCustomSelect">(You can apply for multiple domains)</small>
          <br>
  
            <input name="tech" onclick="display2(this)" class="col-auto my-1-input" type="checkbox" value="Technical" id="Technical">
            <label class="col-auto my-1-label" for="Technical">
                Technical
            </label>
            <br>
            <input name="corp" onclick="display2(this)" class="col-auto my-1-input" type="checkbox" value="Corporate" id="Corporate">
            <label class="col-auto my-1-label" for="Corporate">
                Corporate
            </label>
            <br>
            <input name="create" onclick="display2(this)" class="col-auto my-1-input" type="checkbox" value="Creatives" id="Creatives">
  
            <label class="col-auto my-1-label" for="Creatives">
                Creatives
            </label>
        </div>
  
        <!--Harikrishna-->
  
  
  
        <div class="col-auto my-1 d-none" id="op2">
            <label for="inlineFormCustomSelectA">Corporate Sub-Domain</label>
            <br>
            <!-- Corporate -->
            <select name="corpSub" class="custom-select mr-sm-2 " id="corpSub" required>
              <option value="none" selected>
                <p>...</p>
            </option>
                <option value="Management">Management</option>
                <option value="Sponsorship">Sponsorship</option>
  
            </select>
        </div>
  
        <!--<select class="custom-select mr-sm-2 d-none" id="inlineFormCustomSelect" required>-->
        <div class="col-auto my-1 d-none" id="op3">
            <label for="inlineFormCustomSelectB">Creatives Sub-Domain</label>
  
            <!-- Creatives -->
            <select name="createSub" class="custom-select mr-sm-2" id="createSub" required>
              <option value="none" selected>
                <p>...</p>
            </option>
                <option value="Content Writing">Content Writing</option>
                <option value="Video Editing">Video Editing</option>
                <option value="Designing">Designing</option>
            </select>
        </div>
        <!-- Technical -->
  
  
  
        <div class="col-auto my-1 d-none" id="op1">
            <label for="inlineFormCustomSelectC"> Technical Sub-Domain</label>
            <select name="techSub" class="custom-select mr-sm-2" id="techSub" required>
  
              <option value="none" selected>
                <p>...</p>
            </option>
                <option value="Competitive Coding">Competitive Coding</option>
                <option value="Web Development">Web Development</option>
                <option value="App Development">App Development</option>
                <option value="Data Science">Data Science</option>
  
            </select>
  
        </div>
        <div class="form-group1 col-auto my-1">
            <label for="email">Linkedin:</label>
            <input type="url" class="form-control" id="linkedinurl" placeholder="https://linkedin.com/username"
                name="linkedin" required>
        </div>
        <div class="form-group2 col-auto my-1">
            <label for="email">Github:</label>
            <input type="url" class="form-control" id="githuburl" placeholder="https://github.com/username"
                name="github" required>
        </div>
        <div class="form-group col-auto my-1">
            <label for="Questionaire1"> About you </label>
  
            <textarea name="about" class="form-control" id="Questionaire1" rows="7" minlength="150" maxlength="500"
                required></textarea>
        </div>
        <div class="form-group col-auto my-1">
            <label for="Questionaire1"> Why do you want to be a part of codechef srm student chapter? </label>
            <textarea name="why" class="form-control" id="Questionaire1" rows="7" minlength="150" maxlength="500"
                required></textarea>
  
        </div>
        <br>
        <div class="col-auto my-1">
            <button type="submit" class="button-success col-auto my-1" onclick="return validateDropdown()">Submit</button>
        </div>
  
  
  
    </form>

  </section>
  

<% } %>


<%- include('partials/footer') %>